.card-cnt {
  /* display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: auto;
  grid-gap: 40px 20px;
  background: #ede7f6;
  padding: 1.5rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 58, 58); */
  width: 100%;
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px 1%;
}

.card-data-cnt {
  padding: 8px;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  border-radius: 4px;
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); */
  max-height: 430px;
}

.card-body {
  display: flex;
  min-width: 91%;
  /* max-width: 1200px; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* align-items: center; */
  border: 1px solid black;
  border-radius: 7px;
  padding: 15px;
  /* background-color: rgb(60, 58, 58); */
  background-color: rgba(255, 255, 255, 0.13);
  gap: 5px;
}
.card-img-cnt {
  max-width: fit-content;
}
.image {
  border-radius: 8px;
  height: 320px;
  width: 250px;
}

.card-title {
  font-size: 1rem;
  font-weight: bolder;
  color: rgb(222, 143, 24);
  max-width: 100%;
}

.card-txt {
  color: white;
  font-size: 0.8rem;
}

.search-bar {
  width: 355px;
  height: 40px;
  border-radius: 4px;
  padding: 5px;
  border: none;
  outline: none;
}

.search-container {
  max-width: 1000px;
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.search-btn {
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}

.card-pagination {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

strong {
  color: lightgray;
}
